.career-form {
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    padding: 28px;
    .career-form-heading h4 {
        font-weight: 700;
    }
    input {
        padding: 12px 16px;
    }
    .css-1s2u09g-control {
        border-width: 1px !important;
        min-height: 50px;
        border-radius: 60px;
    }
    .css-319lph-ValueContainer {
        padding: 0px 15px;
    }
    .css-1pahdxg-control {
        border-color: #ced4da !important;
        box-shadow: 0 0 0 0 !important;
        border-width: 1px !important;
        border-radius: 60px;
        min-height: 50px;
        &:hover {
            border-radius: 60px;
            border-color: #ced4da !important;
            box-shadow: 0 0 0 0 !important;
            border-width: 1px !important;
        }
    }
    #uploadBtn {
        border-radius: 60px;
        .normal-btn {
            position: absolute;
            top: 3px;
            right: 3px;
            padding: 7.5px 48px !important;
        }
        input {
            padding: 12px 15px;
            border: 0px solid;
        }
        ::-webkit-file-upload-button {
            display: none;
        }
    }
}
.careers .sticky-top {
    top: 84px;
}