.hero-section{
    background: url('../../images/hero.png');
    width: 100%;
    height: 129vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-item{
        height: 105vh;
    }
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 20px;
    }
}
