.page-title{
    background: url('../../images/page-title.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    .page-title-heading{
        // min-height: 550px;
        height: 100%;
        padding: 20% 0%;
    }
    .circle-animation{
        position: absolute;
        max-width: 180px;
        right: 100px;
        bottom: -50px;
        animation: move 4s linear infinite;
    }
}
@keyframes move {
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 60px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@media screen and (min-width:1600px) {
    .page-title .page-title-heading {
        padding: 26% 0%;
    }
}
@media screen and (max-width:1200px) {
    .page-title .circle-animation {
        max-width: 160px;
    }
}
@media screen and (max-width:992px) {
    .page-title .page-title-heading {
        padding: 22% 0%;
    }
}
@media screen and (max-width:900px) {
    .page-title .page-title-heading {
        padding: 20% 0%;
    }
}
@media screen and (max-width:768px) {
    .page-title .page-title-heading {
        padding: 20% 0%;
    }
    .page-title .circle-animation {
        max-width: 120px;
        bottom: -24px;
    }
}
@media screen and (max-width:576px) {
    .page-title .page-title-heading {
        padding: 30% 0%;
    }
    .page-title .circle-animation {
        max-width: 80px;
        bottom: 15px;
        right: 20px;
    }
    .page-title h1{
        font-size: 24px;
    }
}