.team {
    padding-top: 9rem;
    background: url('../../images/banner-pattern.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .bg-img-circle {
        max-width: 433px;
    }
    .team-item {
        box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        position: relative;
        z-index: 1;
        img {
            border-radius: 18px;
        }
        &:hover .team-img {
            &::before {
                height: 100%;
                top: 0;
                bottom: auto;
            }
        }
        &:hover .social-icons {
            opacity: 1;
            bottom: 20px;
        }
        .team-img {
            overflow: hidden;
            &::before {
                background-color: rgba(0, 184, 202, 0.5);
                border-radius: 18px;
                content: "";
                height: 0;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;
            }
        }
        ul {
            list-style: none;
            bottom: 0px;
            transition: all 0.4s;
            opacity: 0;
            li {
                background: #FEA409;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                img {
                    width: 18px;
                    border-radius: 0px;
                }
            }
        }
    }
    .team-content {
        h5 {
            font-weight: 700;
        }
        .team-expertise {
            color: var(--primary);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
@media screen and (max-width:1200px) {
    .team .team-item ul li {
        width: 30px;
        height: 30px;
    }
    .team .team-item ul li img {
        width: 15px;
    }
}
@media screen and (max-width:992px) {
    .team .team-item ul li {
        width: 40px;
        height: 40px;
    }
    .team .team-item ul li img {
        width: 18px;
    }
}