.career-item {
    border-radius: 24px;
    padding: 28px;
    border: 2px solid var(--primary);
    background-image: url('../../images/card-bg.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h6 {
        color: var(--primary);
    }
    h5 {
        font-weight: 700;
    }
}

.vacancy-details [class*=col-]:first-child .career-item,
.vacancy-details [class*=col-]:nth-child(4n+4) .career-item,
.vacancy-details [class*=col-]:nth-child(4n+5) .career-item 
{
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.12);
    border: none;
}
.careers-forms .modal-content {
    background-color: #fff0;
    border: 0px solid transparent;
}
.careers-forms .close-btn{
    z-index: 9999;
    right: -17px;
    color: black;
    top: 0px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px 2px #0000001f;
    font-size: 24px;
    font-weight: 600;
    &:hover{
        background: white !important;
        color: black;
        box-shadow: 0px 0px 5px 2px #0000001f;
    }
    &:active{
        color: black;
        &:focus{
            box-shadow: 0px 0px 5px 2px #0000001f !important;
        }
    }
    &:focus{
        box-shadow: 0px 0px 5px 2px #0000001f !important;
        color: black !important;
    }
}
